@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

@import "tailwindcss";

:root {
  --btnColor: #059669;
  --btnHoverColor: #10b981;
}

body{
  font-family: 'Poppins', sans-serif;
}

.mainBgColor {
  @apply bg-gradient-to-br from-blue-950 via-black to-blue-950;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #a1a1a1;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #808080;
}

.common-border3 {
  position: relative;
  z-index: 0;
}

.common-border3::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: 9999px;
  background: linear-gradient(135deg, #293436, #c0f6fe, #3f4d4f);
  /* gradient border */
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}

.successBtn {
  @apply bg-gradient-to-t from-[#0cff38] via-[#095c1b] to-[#000000];
}

.errorBtn {
  @apply bg-gradient-to-t from-[#ec0202] via-[#5b0e0e] to-[#000000];
}

.warningBtn {
  @apply bg-gradient-to-t from-[#ffcc00] via-[#665500] to-[#000000];
}

/* Chrome, Safari, Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Chrome, Edge, Safari autofill fix */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: #fff !important; /* change if needed */
  transition: background-color 9999s ease-in-out 0s;
}
